# Dependencias de Node.js
/node_modules/

# Archivos de compilación y artefactos
# El CSS de Tailwind es generado, no debe estar en el control de versiones.
src/public/assets/css/tailwind.css
*.map

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos específicos del editor de código
.vscode/

# Datos de prueba y entorno
# La carpeta de semillas puede contener datos de prueba que no deben estar en el repo principal.
/database/seed/