<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(app|config|diagramas|env) index.php?page=ERROR_403 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]
</IfModule>
